* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(176, 58, 58);
    padding: 16px;
    text-align: center;
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(176, 58, 58, 0.709);
    z-index: 999;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 20px;
}

#about {
    background-color: #f2f2f2;
  }

#projects {
    background-color: #e6e6e6;
}

#skills {
    background-color: beige;
}

#contacts {
    background-color: aquamarine;
}

a {
    text-decoration: none;
    color: rgba(238, 17, 17, 0.668);
}

footer {
    background-color: rgba(255, 0, 0, 0.805);
    text-align: center;
    padding: 14px;
}